@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TT Norms Pro';
    font-style: normal;
    src: url('./assets/font/TT Norms Pro Regular.otf');
}


* {
    font-family: 'Inter', sans-serif;
}

.nav-link {
    font-family: "Outfit", serif;
    font-size: .9rem;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    list-style-type: none;
    text-transform: uppercase;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #012c6e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #001f55;
}

:root {
    --color-primary: #012C6E;
    --color-primary-light: #01408e;
    --color-primary-dark: #011b4b;

    --color-secondary: #012152;
    --color-secondary-light: #013066;
    --color-secondary-dark: #01143a;

    --color-text-primary: #292929;
    --color-text-secondary: #ffffff;

    --color-background: #f8f9fa;
    --color-surface: #ffffff;

    --color-success: #28a745;
    --color-warning: #ffc107;
    --color-error: #dc3545;

    --color-border-light: #e0e0e0;
    --color-border-dark: #343a40;
}

.title-text {
    color: var(--color-primary);
}

.main-metro {
    grid-gap: 32px;
    grid-auto-rows: minmax(184px, auto);
    padding: 0;
    list-style: NONE;
}
.main-metro, .main-metro-card {
    margin: 0;
    display: grid
;
    grid-template-columns: repeat(2, 1fr);
}


.main-metro-card {
    color: #fff;
    background: 50% 100% / cover no-repeat #012c6e;
    border-radius: 8px;
    overflow: hidden;
}
.main-metro-card_2h {
    grid-row: 1 / 3;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 32px 0;
}

.main-metro-card_2h .main-metro-card__content {
    grid-column: 1;
    grid-row: 3;
}
.main-metro-card__content {
    position: relative;
    background: #00316b;
    color: #fff;
    border-radius: 8px;
    padding: 24px !important;
}

.main-metro-card__content:last-child:before {
    border-left: none;
    border-right: 12px solid #00316b;
    left: auto;
    right: 100%;
}
.main-metro-card__content:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 100%;
    top: 24px;
    border-left: 12px solid #00316b;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.main-metro-card__title {
    font-size: 1.3em;
    font-weight: 700;
    margin: 0 0 14px;
    padding: 0;
}


.main-metro-card__svg {
    display: inline-block;
    width: 16px;
    height: 16px;
}
.align-middle, .main-metro-card__svg {
    vertical-align: middle;
}

    @media screen and (max-width: 767px) {
    .main-metro {
        grid-template-columns:1fr
    }

    .footer {
        position: initial !important;
        width: 100%
    }

    .list-menu__footer > li {
        display: none;
        color: #000;
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        width: 100%;
        padding: 0;
        margin-right: 0
    }

    .inside-bottom__footer {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        max-width: none
    }

    .list-bottom__footer {
        color: #000;
        margin: 0 -9px
    }

    .list-bottom__footer li {
        padding: 0 9px;
        font-size: 12px
    }

    .copyright {
        font-size: 12px
    }
}



.tg-bg {
    background-image: url('./assets/hrbg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    margin-top: 28px;
    padding: 20px 24px;
}

.tg-bg h5 {
    font-family: 'TT Norms Pro', sans-serif;
    color: #fff;
    font-size: .875rem;
    font-weight: 700;
    line-height: 16px;
}

.tg-bg button {
    font-family: 'TT Norms Pro', sans-serif;
    background: #fff;
    border: none;
    border-radius: 4px;
    color: #012C6E;
    font-size: .8125rem;
    font-weight: 600;
    line-height: 20px;
    margin-top: 11px;
    padding: 4px 10px;
    transition: all .3s;
}



.cs-slide-paralax-bg {
    position: relative;
    height: 100vh;
    width: 100%;
    min-height: 700px;
    overflow: hidden;
    text-align: center;
    background: 0 0;
}

/*.centerCards:hover {*/
/*    background: #fff;*/
/*    box-shadow: 0 4px 20px rgba(159, 171, 185, .16);*/
/*    transform: translateY(3px);*/
/*}*/

.sideNav-links {
    border-bottom: 1px solid #eceef1;
    color: #7c8084;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    padding: 14px 16px 15px;
    transition: all .3s;
}

.statistics {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
}

.statistics .numbers {
    align-items: center;
    background: hsla(0, 0%, 100%, .1);
    backdrop-filter: blur(5px);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
    max-height: 200px;
    font-size: 18px;
    padding: 35px;
    text-align: center;
}

.statistics .inner p {
    color: #fff;
    font-size: 1.475rem;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    padding-top: 24px;
}

.numbers__title {
    color: hsla(0, 0%, 100%, .5);
    font-size: 1.275rem;
    font-weight: 500;
    margin-top: 5px;
}

.toolbar-wrapper {
    padding: 0px 24px;
    color: #fff;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100px;
}

.toolbar-wrapper .anticon {
    padding: 12px;
    cursor: pointer;
}

.toolbar-wrapper .anticon[disabled] {
    cursor: not-allowed;
    opacity: 0.3;
}

.toolbar-wrapper .anticon:hover {
    opacity: 0.3;
}



.content__inner > *, .builder_content > *, .posts--builder .post-title, .grid .header-caption, .grid .teasers, .grid .head-news, .builder-section--fullwidth .builder-section__title, .header-board--promo {
    padding-left: 22%;
    padding-right: 22%;
}

.builder-section h2:first-child, .promo-section h2:first-child {
    margin-top: 2em;
}
.builder-section__title:first-child, .builder-section h2:first-child, .promo-section__title:first-child, .promo-section h2:first-child {
    margin: 0 0 .5em;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    padding-top: 0;
    margin-top: 0;
}
@media screen and (min-width: 768px) {
    .builder-section__title {
        font-size: 250%;
    }
}
.mceDataFile {
    position: relative; /* Убедитесь, что родитель имеет относительное позиционирование */
    display: inline-block;
    font-size: 18px;
    color: #ffffff; /* Цвет текста */
    padding-left: 30px; /* Пространство для иконки */
}

.mceDataFile:before {
    content: '';
    position: absolute;
    top: 50%; /* Выравнивание по вертикали */
    left: 0; /* Слева от текста */
    transform: translateY(-50%); /* Центровка по вертикали */
    background-image: url('assets/sprite.png');
    background-position: -9px -236px;
    background-repeat: no-repeat;
    width: 20px;
    height: 18px;
}

.mceDataFile2 {
    position: relative; /* Убедитесь, что родитель имеет относительное позиционирование */
    display: inline-block;
    font-size: 18px;
    color: var(--color-primary-dark); /* Цвет текста */
    padding-left: 30px; /* Пространство для иконки */
}

.card-plan:before {
    content: "";
    background-image: url(assets/bggg.svg) !important;
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.1;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 170px;
    height: 50%;
}

.mceDataFile2:before {
    content: '';
    position: absolute;
    top: 50%; /* Выравнивание по вертикали */
    left: 0; /* Слева от текста */
    transform: translateY(-50%); /* Центровка по вертикали */
    background-image: url('assets/sprite.png');
    background-position: -9px -166px;
    background-repeat: no-repeat;
    width: 20px;
    height: 18px;
}


h2.builder-section__title::after {
    left: 0;
    top: -0.6em;
}
h2.builder-section__title::after, .decorate::after {
    content: "";
    width: 5vw;
    min-width: 2em;
    height: 5px;
    background: #fff;
    position: absolute;
}

.univ {
    background: #00316b;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #e9edf2;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.sideNav-active, .sideNav-links:hover {
    background: #002965;
    color: #fff;
}

.sideNav {
    background: #fbfbfb;
    border: 1px solid #eceef1;
    border-radius: 4px;
    box-sizing: border-box;
}

.main-panel__right {
    margin-left: auto;
    display: flex
;
    justify-content: flex-end;
    align-items: center;
    padding-left: 16px;
}

.main-input {
    padding: 0;
    display: flex
;
    position: relative;
    font: normal 1em / 1.25 'HSE Sans', Arial, sans-serif;
    border-radius: 4px;
    max-width: 320px;
    width: 100%;
    overflow: hidden;
}

.main-input::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 4px;
    background: rgba(255, 255, 255, .08);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.main-input__button {
    position: relative;
    height: 40px;
    width: 40px;
    margin-left: auto;
    display: flex
;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    background: transparent;
    align-self: center;
    flex: 0 0 auto;
    padding: 0;
}


.main-input__field:placeholder-shown {
    color: #fff;
}
.main-input__field {
    position: relative;
    flex-grow: 1;
    display: flex
;
    align-items: center;
    padding: 10px 16px 10px 0;
    margin-right: auto;
    height: 40px;
    width: 100%;
    border: none;
    color: #fff;
    appearance: none;
    outline: none;
    box-sizing: border-box;
    font: normal 1em / 1.25 'HSE Sans', Arial, sans-serif;
    background: transparent;
    caret-color: #fff;
}

 .centerCards {
     background: #f9fafc;
     border: 1px solid rgba(159, 171, 185, .1);
     border-radius: 4px;
     box-sizing: border-box;
     color: #44494f;
     font-size: 17px;
     font-weight: 500;
     line-height: 128%;
     min-height: 96px;
     padding: 26px 24px 0 26px;
     transition: all .3s;
 }


.header-section3::before {
    z-index: -10;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0)) 0 0/cover, url('/DSC_0307 12.png') 0 0/cover;
    background-position: center;
}

.header-section2::before {
    z-index: -10;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0)) 0 0/cover, url('/DSC_0307 1.png') 0 0/cover;
    background-position: center;
}
.logos-slide {
    width: 380px;
    align-items: center;
    display: flex
}

.partners-slider {
    gap: 70px !important
}

.link {
    border-radius: 0px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 49, 107, .1);
    color: #86909c;
    display: flex
;
    font-size: .9375rem;
    padding: 12px 0 12px 20px;
    text-transform: none;
    transition: all .3s;
}

.title {
    color: #fff;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 0;
}

.header-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background: linear-gradient(90deg, #fff, #fff);
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #fff; /* White border around each letter */
    padding: 0 1rem;
    display: inline-block;
    transition: opacity 0.5s ease-in-out;
    white-space: nowrap;
}

.cs-slide-paralax-bg .bg-image, .cs-slide-paralax-bg .bg-video, .video-bg video {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    background-size: cover;
    -webkit-transition-position: fixed;
    position: fixed;
}

.icon-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: #fff;
    font-size: 20px;
}
.icon-bar a:hover {
    background: #222;
}
.icon-bar .facebook {
    background: #3b5998;
}
.icon-bar .twitter {
    background: #55acee;
}
.icon-bar .google {
    background: #bb0000;
}
.icon-bar .linkedin {
    background: #007bb5;
}
.icon-bar .youtube {
    background: #bb0000;
}


.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    align-items: flex-end;
    display: flex
;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: visible !important;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--color-background);
    color: var(--color-text-primary);
}

.nav-bot {
    background-color: var(--color-primary);
}

.top-nav {
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
}

.top-nav-sup {
    background-color: var(--color-secondary);
}


motion.div {
    will-change: transform, opacity !important;
}

.main-footer {
    background: #002d6e;
    color: #fff;
    padding: 40px 110px 25px;
}

.main-social__item {
    width: 32px;
    height: 32px;
    flex: 0 0 auto;
    margin: 0;
}

.main-footer__link:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid  rgba(255, 255, 255, 0.5) !important;
}

.main-footer__bottom_editor {
    border-top: none;
    padding-top: 8px;
}
.main-footer__bottom {
    display: flex
;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.main-footer__editor {
    color: rgba(255, 255, 255, 0.5);
    margin-left: auto;
}
.main-footer__link {
    color: inherit;
    text-decoration: none;
}

.main-footer__group {
    display: flex
;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 -32px;
    padding-bottom: 40px;
}

.main-footer__nav:first-child {
    border-left: none;
}

.main-footer__item {
    color: rgba(255, 255, 255, 0.5);
    font: 400 16px / 20px "HSE Sans", Arial, sans-serif;
    margin: 12px 0 0;
}


.main-footer__bottom {
    display: flex;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}


.main-footer__copy {
    margin: 0;
    box-sizing: border-box;
}


.main-footer__social {
    padding-left: 32px;
    box-sizing: border-box;
    margin-left: auto;
}
.main-social {
    display: flex
;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}


.main-footer__nav {
    position: relative;
    margin: 0;
    padding: 0 32px;
    list-style: none;
    box-sizing: border-box;
    width: 25%;
    flex: 1 1 auto;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.main-footer__item-heading {
    font: 600 18px / 24px "Proxima Nova", Arial, sans-serif;
    color: #fff;
}

.main-footer__link {
    color: inherit;
    text-decoration: none;
}

.main-footer__link:hover {
    cursor: pointer;
    text-decoration: none;
    /* border-bottom: 1px solid; */
    border-bottom-color: rgba(0, 122, 197, .3);
}


@media (max-width: 776px) {
    .main-footer {
        padding: 10px;
    }
}

@media (max-width: 1279px) {
    .main-footer {
        padding: 25px 20px;
    }
}

@media (max-width: 776px) {
    .main-footer__group {
        margin: 0;
    }
}

@media (max-width: 995px) {
    .main-footer__group {
        flex-wrap: wrap;
    }
}

@media (max-width: 776px) {
    .main-footer__nav:nth-child(odd) {
        padding: 0 16px 0 0;
    }
}
@media (max-width: 995px) {
    .main-footer__nav {
        margin-bottom: 32px;
        border: none;
        width: 50%;
    }
}


.glow-effect {
    transition: text-shadow 0.3s ease-in-out;
}

.group:hover .glow-effect {
    text-shadow:
            0 0 5px rgba(255, 255, 255, 0.2),
            0 0 10px rgba(255, 255, 255, 0.4),
            0 0 15px rgba(255, 255, 255, 0.3);
}

.glow-effect-group {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 0.8),
    0 0 30px rgba(255, 255, 255, 0.6);
}


.top-nav-sup-link {
    position: relative;
}

.top-nav-sup-link:hover {
    background-color: #012152;
}

.top-nav-sup-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: #fff;
    transition: width 0.3s ease;
}

.top-nav-sup-link:hover::after {
    width: 100%;
}